<div class="row">
	<div class="large-12 columns">
	
		<h3>Hey there, {{user.name}}!</h3>
		
		<p>{{poll.totalCount}} people have taken the poll:</p>
		
		<ul>
			<li>{{poll.floridaCount}} think they can make it to Florida.</li>
			<li>{{poll.iowaCount}} think they can make it to Iowa.</li>
			<li>{{poll.notGoingCount}} think they can't go.</li>
		</ul>
		
		<br/>
		<br/>
	</div>
</div>


{{#extend "scripts"}}

{{/extend}}