<div class="row">
	<div class="large-12 columns">
	
		<h3>Hey there, {{user.name}}!</h3>
		
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		
		<p>{{rsvp.totalCount}} RSVPs have been made online:</p>
		
		<ul>
			<li>{{rsvp.acceptGuestCount}} guests have accepted for Florida.</li>
			<li>{{rsvp.iowaGuestCount}} guests have RSVPed for Iowa in June instead.</li>
			<li>{{rsvp.declineGuestCount}} guests have declined.</li>
		</ul>
		
		<br/>
		<br/>
	</div>

	<div class="large-6 columns">
		
		<p>{{poll.totalCount}} people have taken the poll:</p>
		
		<ul>
			<li>{{poll.floridaCount}} think they can make it to Florida.</li>
			<li>{{poll.iowaCount}} think they can make it to Iowa.</li>
			<li>{{poll.notGoingCount}} think they can't go.</li>
		</ul>
		
		<br/>
		<br/>
	</div>
</div>


{{#extend "scripts"}}

{{/extend}}