<div class="row">
	<div class="large-12 columns">
	
		<h3>All RSVPs Received Online</h3>
		
		{{#if rsvps}}
		
			<table id="rsvps-table">
				<thead>
					<tr>
						<th>Create Time</th>
						<th>Update Time</th>
						<th>Name</th>
						<th>Accept?</th>
						<th>Guest Count</th>
						<th>Other Guests</th>
						<th>Note</th>
						<th>Email Address</th>
					</tr>
				<thead>
				<tbody>
					{{#each rsvps}}
						<tr>
							<td>
								{{formatDateTime createDate}}
							</td>
							<td>
								{{formatDateTime updateDate}}
							</td>
							<td>
								{{name}}
							</td>
							<td>
								{{#if accept}}
									Accept
								{{/if}}
								
								{{#if iowa}}
									Iowa
								{{/if}}
								
								{{#if decline}}
									Decline
								{{/if}}
							</td>
							<td>
								{{guestCount}}
							</td>
							<td>
								<ul>
									{{#each guests}}
										<li>{{this}}</li>
									{{/each}}
								</ul>
							</td>
							<td>
								{{note}}
							</td>
							<td>
								{{emailAddress}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		
		{{else}}
		
			<p>There are no RSVPs yet.</p>
		
		{{/if}}
	
	</div>
</div>


{{#extend "scripts"}}

{{/extend}}