<!doctype html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{title}}</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css" charset="utf-8" />
    <link rel="Stylesheet" type="text/css" href="/stylesheets/normalize.css" />
    <link rel="Stylesheet" type="text/css" href="/stylesheets/foundation.css" />
    <link rel="Stylesheet" type="text/css" href="/stylesheets/main.css" />
    {{{block "stylesheets"}}}
    
    <script src="scripts/vendor/custom.modernizr.js"></script>
</head>

<body>

	<header class="row">
	
		<div class="large-3 columns">
		
			<h1>
				<a href="/">
					Shea + Lindsey's
					<span>wedding</span>
				</a>
			</h1>
		
		</div>
		
		<div class="large-9 columns">
		
			{{! todo - replace this with a macro or some other sort of thing for dynamic navigation }}
		
			<ul class="inline-list right">
				<li>
					{{#ifCond currentPage 'florida'}}
						<a class="selected" href="/florida">Florida</a>
					{{else}}
						<a href="/florida">Florida</a>
					{{/ifCond}}
				</li>
				<li>
					{{#ifCond currentPage 'iowa'}}
						<a class="selected" href="/iowa">Iowa</a>
					{{else}}
						<a href="/iowa">Iowa</a>
					{{/ifCond}}
				</li>
				<li>
					{{#ifCond currentPage 'registry'}}
						<a class="selected" href="/registry">Registry</a>
					{{else}}
						<a href="/registry">Registry</a>
					{{/ifCond}}
				</li>
				<li>
					{{#ifCond currentPage 'photos'}}
						<a class="selected" href="/photos">Photos</a>
					{{else}}
						<a href="/photos">Photos</a>
					{{/ifCond}}
				</li>
				<li>
					{{#ifCond currentPage 'rsvp'}}
						<a class="button small round selected" href="/rsvp">RSVP</a>
					{{else}}
						<a class="button small round" href="/rsvp">RSVP</a>
					{{/ifCond}}
				</li>
			</ul>
		
		</div>
	
	</header>

	{{{body}}}
	
	<footer class="row">
	
		<div class="large-12 columns">
		
			&copy; {{year}} Shea Daniels
		
		</div>
	
	</footer>

	<script>
		document.write('<script src=' +
		('__proto__' in {} ? 'scripts/vendor/zepto' : 'scripts/vendor/jquery') +
		'.js><\/script>')
	</script>

	<script src="scripts/foundation.min.js"></script>
	<!--

	<script src="scripts/foundation/foundation.js"></script>

	<script src="scripts/foundation/foundation.interchange.js"></script>

	<script src="scripts/foundation/foundation.abide.js"></script>

	<script src="scripts/foundation/foundation.dropdown.js"></script>

	<script src="scripts/foundation/foundation.placeholder.js"></script>

	<script src="scripts/foundation/foundation.forms.js"></script>

	<script src="scripts/foundation/foundation.alerts.js"></script>

	<script src="scripts/foundation/foundation.magellan.js"></script>

	<script src="scripts/foundation/foundation.reveal.js"></script>

	<script src="scripts/foundation/foundation.tooltips.js"></script>

	<script src="scripts/foundation/foundation.clearing.js"></script>

	<script src="scripts/foundation/foundation.cookie.js"></script>

	<script src="scripts/foundation/foundation.joyride.js"></script>

	<script src="scripts/foundation/foundation.orbit.js"></script>

	<script src="scripts/foundation/foundation.section.js"></script>

	<script src="scripts/foundation/foundation.topbar.js"></script>

	-->

	<script>
	$(document).foundation();
	</script>

    {{{block "scripts"}}}

</body>
</html>
  
